.root {
  margin: 80px auto;
  text-align: center;

  img {
    width: 560px;
  }

  h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .description {
    font-style: 20px;
    margin-bottom: 30px;
  }
}
