$background: hsl(25, 100%, 94%);

// $orange: rgba(253, 179, 1);

$orange: hsl(26, 100%, 55%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$darkgrayish: hsl(220, 13%, 13%);
$grayish: hsl(219, 9%, 45%);
$lightgrayish: hsl(220, 14%, 75%);
$superlightgrayish: hsl(223, 64%, 98%);

$buttonslight: #f9f9f9;

$container-width: 90%;
